/* All global declared variables - colors*/
$nav__background : #333;
$nav__hover__background : rgb(96, 157, 159);
$clear__color : #fff;
$header__cv__btn__hover : #373636;
$header__btn : #3693ff86;
$border_black :  #000000; 
$social__media_icon__background : #e6e3e3;
$submit__btn : rgba(255, 0, 0, 0.637);
$submit__btn__hover : rgba(255, 0, 0, 0.404);
$form__contact__background : rgba(204, 203, 203, 0.466) ;
