$nav__background : #333;
$nav__hover__background : rgb(96, 157, 159);
$clear__color : #fff;
$header__cv__btn__hover : #373636;
$header__btn : #3693ff86;
$border_black :  #000000; 
$social__media_icon__background : #e6e3e3;
$submit__btn : rgba(255, 0, 0, 0.637);
$submit__btn__hover : rgba(255, 0, 0, 0.404);
$form__contact__background : rgba(204, 203, 203, 0.466) ;

/* Genaral styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:$nav__background;
  line-height: 1.4;
  overflow-x: hidden;
}
/* Genaral styles */


/* Animations start*/
@keyframes fadeUp {
  0%{
    transform: translateY(-8rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes scale {
  0%{
    transform: scale(3);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fontbulger {
  0%, 100% {
    font-size: 2rem;
  }
  50% {
    font-size: 3rem;
  }
}
@keyframes move {
  from { top: 0; left: 0; }
  to   { top: 100px; left: 100px; }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* Animations end*/

@media all and (min-width:801px) {
  


.menu ul {
  font-size: 2rem;
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: $nav__background;
    color: $clear__color;
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
    align-items: center;
    
    list-style: none;
    li a {
      align-items: center;
      text-decoration: none;
      color: $clear__color;
      padding: 1.5rem;
      font-size: 1.4rem;
      margin: 0 0.5rem;
      border-radius: 5px;
      transition: 0.5s;
      }
          li a:hover {
          background-color: $header__btn;
          text-decoration: none;
          color: $clear__color;
          padding: 1.5rem;
          font-size: 1.4rem;
          margin: 0 0.5rem;
          border-radius: 5px;
          
        }
        
    }
    .menu-wrap input {
      display: none;
    }






  /*  Navbar */
  #navbar {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $nav__background;
    color: $clear__color;
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
    ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
      li a {
    text-decoration: none;
    color: $clear__color;
    padding: 1.5rem;
    font-size: 1.4rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: 0.5s;
    }
  }
}
  #navbar li a:hover {
  background-color: $nav__hover__background;
  text-decoration: none;
  color: $clear__color;
  padding: 1.5rem;
  font-size: 1.4rem;
  margin: 0 0.5rem;
  border-radius: 5px;
    }
  #navbar h2 a {
    background: -webkit-linear-gradient($clear__color, $nav__background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }

  /*  Content section */


 header {

    background: url("https://github.com/adrian9211/Interactive-Portfolio/blob/master/background4.jpg?raw=true") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
  .text-container li:nth-child(1){
    color: rgba(241, 241, 241, 0.685);
    font-size: 22px;
  }
  .text-container li:nth-child(2) {
    color: $clear__color;
    font-size: 60px;
  }
  .text-container li:nth-child(3) {
    font-style: italic;
    color: $clear__color;
    font-size: 30px;
  }
  .text-container li:nth-child(4) {
    font-style: italic;
    color: $clear__color;
    font-size: 30px;
  }
  .text-container li{
   list-style: none;
    line-height: 0px;
    padding: 25px 0px 25px;
  }
  .text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    opacity: 0;
    animation: fadeUp .9s forwards;
  }
  .text-container button {
    margin:2rem 1rem ;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  .text-container button:hover {
    margin:2rem 1rem ;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: $clear__color;
   }
  .about__btn {
    cursor: pointer;
    border: 2px solid $border_black;
    color: #373636;
    &:hover {
      background: $header__btn;
      transition: 0.1s;
      font-weight: bold;
      font-size: 1rem;
    }
  }
  .cv__btn {
    background-color: $header__btn;
    color: $clear__color;
    border: 2px solid ;
    cursor: pointer;
    &:hover {
      background-color: $header__cv__btn__hover;
      color: $header__btn;
      border: 2px solid ;
    }
  }
  button:active {
    transform: scale(1.1);
  }
  .mainphoto {
    height: 500px;
    position: absolute;
    left:55%;
    top:20%;
    border-radius: 10%;
    display: inline-block;
    overflow: hidden;
    animation: fadeUp 1.9s forwards;
  }
  .about__container {
    width: 70%;
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
  }
  .about__container h2 {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    animation: fadeUp 1.9s forwards;
  }
  .about__container p {
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  .about__container img{
    width: 20vh;
    position: relative;
    left: 10%;
    top: 40px;
    border-radius: 50%;
    animation: scale .5s forwards;
    
  }

  .about__container2 {
    width: 70%;
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
    h3 {
      font-size: 2rem;
      text-align: center;
      margin-top: 0;
      padding: 25px 0 15px;
      animation: scale .5s forwards;
      
      }
    form {
      max-width: 600px;
      text-align: center;
      input, textarea {
        background: $form__contact__background ;
        border: 0;
        outline: 0;
        padding: 1em;
        border-radius: 8px;
        display: block;
        width: 100%;
        margin-top: 1em;
        resize: none;
      }
      #input-submit {
        color: $clear__color;
        background: $submit__btn;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
          background: $submit__btn__hover;
          transition: 0.3s;
        }
        &:active {
          transform: scale(1.1);
          transition: 0.2s;
        }
      }
      textarea {
        margin-left: 10px;
        height: 150px;
        width: 400px;
    }
    }
  }
  .form__contact__flex {
    display: flex;
    flex-direction: row;
    
  }
.item {
  padding: 0;
  margin: 0;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.form__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.allign__all {
  margin: 20px 0 30px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: $header__btn;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 16px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  &:hover {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);
  }
}
main {
    padding: 20px;
    margin: 0;
    background: url("https://raw.githubusercontent.com/adrian9211/Interactive-Portfolio/master/background-cement.jpg") no-repeat center center fixed;
    background-size: cover;
  }


/* All files from prevous project*/ 
.boldtext {
  font-weight: bold;
  list-style: none;
}
.alignment {
  padding-left: 100px;
}
.name {
  margin-bottom: 0;
  text-align: left;
  font-size: 5rem;
}
.name2 {
margin-bottom: 0;
text-align: left;
font-size: 3rem;
font-style: italic;
}
.righth2 {
  padding-left: 30px;
}

/* All files from prevous project*/ 

.social__media__icons {
  display: flex;
  justify-content: center;
}

.social__media__icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $social__media_icon__background ;
  margin: 20px 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}
.aside__social__media__icons {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateX(-30%);
}
.aside__social__media__icons a{
  padding: 0;
  margin: 0;
  display: flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: $clear__color;
  border: 1px solid $border_black;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);

}


.social__media__icons i,
.aside__social__media__icons i{
  color: $border_black;
}

.social__media__icons a:hover,
.aside__social__media__icons a:hover{
  background: $header__btn;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 1);
  transition: all ease 0.3s;
}
.back__btn {
  border-radius: 10px;
  position: relative;
  top: 10%;
  left: 5%;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 12px 16px;
  i {
    padding-right: 7px;
  }
  &:hover{
    transition: 0.3s ease-in-out;
    background-color:$header__btn;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);
  }
}

footer {
  margin: 0px;
  padding: 20px;
  text-align: center;
  li{
   list-style: none;
  }
  p{
    padding: 14px;
    font-size: 2rem;
  }
  address {
    padding: 10px;
  }
}


.resume {
  padding-left: 20%;
}


}

/*End of media querry for devices over 710px screen size */














/*Media querry for devices below 800px */

@media all and (max-width:800px) {

 
  .menu-wrap {
    position: relative;
    top: 80px;
    left: 80px;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: absolute;
    top: 0;
    right: 30%;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    overflow: hidden;
    
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    height: 45vw;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 0 8px 0;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    margin: 0;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }


  .menu ul li a {
    align-items: center;
    text-decoration: none;
    color: $clear__color;
    padding: 1rem ;
    font-size: 1.4rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: 0.5s;
    }
        li a:hover {
        background-color: $header__btn;
        text-decoration: none;
        color: $clear__color;
        padding: 1rem ;
        font-size: 1.4rem;
        margin: 0 0.5rem;
        border-radius: 5px;
      }
      
  







  
    /*  Content section */


  header {

    background: url("https://github.com/adrian9211/Interactive-Portfolio/blob/master/background4.jpg?raw=true") no-repeat center center fixed;
    background-size: cover;
    height: 120vh;
  }
  .text-container li:nth-child(1){
    padding-right: 0;
    color: rgba(241, 241, 241, 0.685);
    font-size: 22px;
  }
  .text-container li:nth-child(2) {
    padding-right: 0;
    color: $clear__color;
    font-size: 60px;
  }
  .text-container li:nth-child(3) {
    padding-right: 0;
    font-style: italic;
    color: $clear__color;
    font-size: 30px;
  }
  .text-container li:nth-child(4) {
    padding-right: 0;
    font-style: italic;
    color: $clear__color;
    font-size: 30px;
  }
  .text-container li{
    
   list-style: none;
    line-height: 0px;
    padding: 25px 0px 25px;
  }
  .text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    opacity: 0;
    animation: fadeUp .9s forwards;
  }
  .text-container button {
    margin:2rem 1rem ;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  .text-container button:hover {
    margin:2rem 1rem ;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: $clear__color;
   }
  .about__btn {
    cursor: pointer;
    border: 2px solid $border_black;
    color: #373636;
    &:hover {
      background: $header__btn;
      transition: 0.1s;
      font-weight: bold;
      font-size: 1rem;
    }
  }
  .cv__btn {
    background-color: $header__btn;
    color: $clear__color;
    border: 2px solid ;
    cursor: pointer;
    &:hover {
      background-color: $header__cv__btn__hover;
      color: $header__btn;
      border: 2px solid ;
    }
  }
  button:active {
    transform: scale(1.1);
  }
  .mainphoto {
    height: 300px;
    position: absolute;
    left:30%;
    top:80%;
    border-radius: 10%;
    display: inline-block;
    overflow: hidden;
    animation: fadeUp 1.9s forwards;
  }
  .about__container {
    width: 70%;
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
  }
  .about__container h2 {
    margin: 2rem;
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeUp 1.9s forwards;
  }
  .about__container p {
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  .about__container img{
    width: 20vh;
    position: relative;
    left: 10%;
    top: 30px;
    border-radius: 50%;
    animation: scale .5s forwards;
    &:hover {
      transform: scale(1.3);
      animation: scale .5s forwards;
      animation-play-state: running;
    }
  }

  .about__container2 {
    width: 70%;
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
    h3 {
      font-size: 2rem;
      text-align: center;
      margin-top: 0;
      padding: 25px 0 15px;
      animation: scale .5s forwards;
      }
    form {
      max-width: 600px;
      text-align: center;
      input, textarea {
        background: $form__contact__background ;
        border: 0;
        outline: 0;
        padding: 1em;
        border-radius: 8px;
        display: block;
        width: 100%;
        margin-top: 1em;
        resize: none;
      }
      #input-submit {
        color: $clear__color;
        background: $submit__btn;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
          background: $submit__btn__hover;
          transition: 0.3s;
        }
        &:active {
          transform: scale(1.1);
          transition: 0.2s;
        }
      }
      textarea {
        margin-left: 10px;
        height: 150px;
        width: 400px;
    }
    }
  }
    .form__contact__flex {
    display: flex;
    flex-direction: row;
    
  }
  .item {
  padding: 0;
  margin: 0;
}
  .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  .form__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.allign__all {
  margin: 20px 0 30px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: $header__btn;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 16px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  &:hover {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);
  }
}
main {
    padding: 20px;
    margin: 0;
    background: url("https://raw.githubusercontent.com/adrian9211/Interactive-Portfolio/master/background-cement.jpg") no-repeat center center fixed;
    background-size: cover;
  }


/* All files from prevous project*/ 
.boldtext {
  font-weight: bold;
  list-style: none;
}
.alignment {
  
}
.name {
  margin-bottom: 0;
  text-align: left;
  font-size: 5rem;
}
.name2 {
margin-bottom: 0;
text-align: left;
font-size: 3rem;
font-style: italic;
}
.righth2 {
  padding-left: 30px;
}

/* All files from prevous project*/ 

.social__media__icons {
  display: flex;
  justify-content: center;
}

.social__media__icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $social__media_icon__background ;
  margin: 20px 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}
.aside__social__media__icons {
  
  position: fixed;
  top: 50%;
  right:  2%;
 
}
.aside__social__media__icons a{
  padding: 0;
  margin: 0;
  display: flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: $clear__color;
  border: 1px solid $border_black;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);

}


.social__media__icons i,
.aside__social__media__icons i{
  color: $border_black;
}

.social__media__icons a:hover,
.aside__social__media__icons a:hover{
  background: $header__btn;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 1);
  transition: all ease 0.3s;
}
.back__btn {
  border-radius: 10px;
  position: relative;
  top: 10%;
  left: 5%;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 12px 16px;
  i {
    padding-right: 7px;
  }
  &:hover{
    transition: 0.3s ease-in-out;
    background-color:$header__btn;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);
  }
}



footer {
  margin: 0px;
  padding: 20px;
  text-align: center;
  li{
   list-style: none;
  }
  p{
    padding: 14px;
    font-size: 2rem;
  }
  address {
    padding: 10px;
  }
}


.resume {
  padding-left: 20%;
}


}