@media all and (min-width: 710px) {
  /* Genaral styles */
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.4;
    overflow-x: hidden;
  }
  /*  Navbar */
  #navbar {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1.5rem 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
  }
  #navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  #navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    font-size: 1.4rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #navbar li a:hover {
    background-color: #609d9f;
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    font-size: 1.4rem;
    margin: 0 0.5rem;
    border-radius: 5px;
  }
  #navbar h2 a {
    background: -webkit-linear-gradient(#fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }
  /*  Content section */
  header {
    background: url("https://github.com/adrian9211/Interactive-Portfolio/blob/master/background4.jpg?raw=true") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
  .text-container li:nth-child(1) {
    color: rgba(241, 241, 241, 0.685);
    font-size: 22px;
  }
  .text-container li:nth-child(2) {
    color: #fff;
    font-size: 60px;
  }
  .text-container li:nth-child(3) {
    font-style: italic;
    color: #fff;
    font-size: 30px;
  }
  .text-container li:nth-child(4) {
    font-style: italic;
    color: #fff;
    font-size: 30px;
  }
  .text-container li {
    list-style: none;
    line-height: 0px;
    padding: 25px 0px 25px;
  }
  .text-container {
    position: absolute;
    left: 13%;
    top: 42%;
  }
  .text-container button {
    margin: 2rem 1rem;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  .text-container button:hover {
    margin: 2rem 1rem;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
  }
  .about__btn {
    border: 2px solid #000000;
    color: #373636;
  }
  .about__btn:hover {
    background: #3693ff86;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-weight: bold;
    font-size: 1rem;
  }
  .cv__btn {
    background-color: #3693ff86;
    color: #fff;
    border: 2px solid;
  }
  .cv__btn:hover {
    background-color: #373636;
    color: #3693ff86;
    border: 2px solid;
  }
  button:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .mainphoto {
    height: 500px;
    position: absolute;
    left: 55%;
    top: 20%;
    border-radius: 10%;
    display: inline-block;
    overflow: hidden;
  }
  .about__container {
    width: 70%;
    height: 100%;
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about__container h2 {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  .about__container p {
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  .about__container img {
    width: 20vh;
    position: relative;
    left: 10%;
    top: 80px;
    border-radius: 50%;
  }
  .about__container2 {
    width: 70%;
    height: 100%;
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main {
    padding: 20px;
    margin: 0;
    background: url("https://raw.githubusercontent.com/adrian9211/Interactive-Portfolio/master/background-cement.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

/* All files from prevous project*/
.boldtext {
  font-weight: bold;
  list-style: none;
}

.alignment {
  padding-left: 100px;
}

.name {
  margin-bottom: 0;
  text-align: left;
  font-size: 5rem;
}

.name2 {
  margin-bottom: 0;
  text-align: left;
  font-size: 3rem;
  font-style: italic;
}

.righth2 {
  padding-left: 30px;
}

/* All files from prevous project*/
footer {
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.resume {
  padding-left: 20%;
}

/*End of media querry for devices over 710px screen size */
/*Media querry for devices below 710px */
/*# sourceMappingURL=style.css.map */